// include configuration files from `conf` directory

includeConfig 'conf/ext.config'
includeConfig 'conf/params.config'
includeConfig 'conf/publishing.config'
includeConfig 'conf/report.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/timeline.config'
includeConfig 'conf/trace.config'

includeConfig 'conf/profiles.config'
