process {
	withName: 'quantification:cell_ranger:.*' {
		ext.mkref = ''
		ext.count = ''
	}

	withName: 'quantification:cell_ranger_arc:.*' {
		ext.mkref = ''
		ext.count = ''
	}

	withName: 'quantification:cell_ranger_multi:make_input_csv' {
		ext.feature_section         = ''
		ext.gene_expression_section = ''
		ext.vdj_section             = ''

		ext.find_fastqs = '-size +10M'
	}

	withName: 'quantification:cell_ranger_multi:count' {
		ext.multi = ''
	}
}
