
def format_task_to_path(task) {
	['results', task.process.replaceAll(':', '/')].join('/')
}

process {

	// -------------------------------------------------------------------------------------------------
	// apply to all processes
	// -------------------------------------------------------------------------------------------------

	publishDir = [
		enabled: false
		// path: {['results', task.process.replaceAll(':', '/')].join('/')},
		// path: {"${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}"},
		// mode: params.publish_dir_mode,
		// saveAs: {filename -> filename.toUpperCase()}
	]

	// -------------------------------------------------------------------------------------------------
	// seurat outputs
	// -------------------------------------------------------------------------------------------------

	// outputs for seurat + cell ranger workflow
	withName: 'seurat:cell_ranger:make_seurat_object' {
		publishDir = [
			[enabled: true,
			 path: {format_task_to_path(task)},
			 pattern: 'seurat.rds',
			 saveAs: {opt.get('dataset dir') + '.rds'}],
			[enabled: true,
			 path: {format_task_to_path(task)},
			 pattern: 'task.yaml',
			 saveAs: {opt.get('dataset dir') + '.yaml'}]]
	}

	// outputs for seurat + cell ranger arc workflow
	withName: 'seurat:cell_ranger_arc:make_seurat_object' {
		publishDir = [
			[enabled: true,
			 path: {format_task_to_path(task)},
			 pattern: 'seurat.rds',
			 saveAs: {opt.get('dataset dir') + '.rds'}],
			[enabled: true,
			 path: {format_task_to_path(task)},
			 pattern: 'task.yaml',
			 saveAs: {opt.get('dataset dir') + '.yaml'}]]
	}
}
