process {
    publishDir = [
        path: {['results', task.process.replaceAll(':', '/')].join('/')},
        // path: {"${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}"},
        // mode: params.publish_dir_mode,
        // saveAs: {filename -> filename.toUpperCase()}
    ]

}

