// ==================================================
// configuration of pipeline reports
// - https://www.nextflow.io/docs/latest/tracing.html

// a formatted timestamp used to group reports for an execution
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// the root path under which files are published
def publishing_path = ["${params.publish_dir}", 'nextflow', "${timestamp}"].join('/')

// -------------------------------------------------------------------
// a html report summarising task execution
// - https://www.nextflow.io/docs/latest/config.html#scope-report
// - https://www.nextflow.io/docs/latest/tracing.html#execution-report

report {
	enabled = true
	file    = [publishing_path, 'report.html'].join('/')
}

// ---------------------------------------------------------------------
// write tsv records of jobs submitted by pipeline
// - this file can help debug a pipeline and find work directories (etc)
// - https://www.nextflow.io/docs/latest/config.html#scope-trace
// - https://www.nextflow.io/docs/latest/tracing.html#trace-report

trace {
	enabled = true
	file    = [publishing_path, 'trace.tsv'].join('/')
	sep     = '\t'
}

// ------------------------------------------------------------------
// a html report for time taken to complete (or fail?) for tasks
// - https://www.nextflow.io/docs/latest/config.html#scope-timeline
// - https://www.nextflow.io/docs/latest/tracing.html#timeline-report

timeline {
	enabled = true
	file    = [publishing_path, 'timeline.html'].join('/')
}

// --------------------------------------------------------------------
// a html direct acyclic graph (dag) representation of the pipeline
// - https://www.nextflow.io/docs/latest/config.html#scope-dag
// - https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation

dag {
	enabled = false
	file    = [publishing_path, 'dag.html'].join('/')
}
