report {

	// -------------------------------------------------------------------------------------------------
	// write a html report of the pipeline execution
	// https://www.nextflow.io/docs/latest/config.html#config-report
	// -------------------------------------------------------------------------------------------------

	enabled = true
}
