process {
	// -------------------------------------------------------------------------------------------------
	// apply to all processes
	// -------------------------------------------------------------------------------------------------
	
	errorStrategy = 'finish'
	executor = 'slurm'
	queue = 'ncpu'
}

executor {
	$slurm {
		name = 'slurm'
		queueSize = 500
	}
}
