timeline {

	// -------------------------------------------------------------------------------------------------
	// write a timeline for the pipeline execution
	// https://www.nextflow.io/docs/latest/config.html#scope-timeline
	// -------------------------------------------------------------------------------------------------

	enabled = true
}
