trace {
	// -------------------------------------------------------------------------------------------------
	// write a text file of processes' resource usage
	// https://www.nextflow.io/docs/latest/config.html#scope-trace
	// -------------------------------------------------------------------------------------------------

	enabled = true
	sep = '\t'
}
