
/* do not use a background or border color for code in tables */

table code {
    background-color: transparent;
    border-color: transparent;
}

/* remove internal column lines from parameters tables */

.parameters-table tr {
    border-width: 1px;
    border-style: solid;
    border-color: rgba( 134, 134, 134, .333 );

}

.parameters-table table, th, td {
    border: 0;
}

/* prevent wrapping in the last column of a parameters table */

.parameters-table th:last-child, td:last-child {  
    white-space: nowrap;
    text-align: center;
}
