
table code {
    /* do not use a background or border color for code in tables */
    background-color: transparent;
    border-color: transparent;
}

table th {
    /*  no wrapping of header row text of tables */
    white-space: nowrap;
}

table th, table td {
    /* remove border from header and data rows of tables */
    border: 0;
}

table td {
    /* vertical alignment of table data rows */
    vertical-align: top;
}

table tr {
    /* remove internal column lines from rows of tables */
    border-width: 1px;
    border-style: solid;
    border-color: rgba( 134, 134, 134, .333 );
}

.parameters-table td:last-child, .parameters-table th:last-child {
    /* alignment of providers column */
    text-align: center;
}

.parameters-table td:nth-child(3) {
    /* alignment of type column */
    vertical-align: middle;
}
